@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Dongle;
	src: url('../public/typeface/Dongle-Regular.ttf');
}

@font-face {
	font-family: Inter;
	src: url('../public/typeface/Inter-Regular.ttf');
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

.background-main {
	background-image: url('../public/images/mainPage/background0.png');
	background-position: center;
	background-repeat: no-repeat;
	background-clip: content-box;
}

.background-submain {
	background-image: url('../public/images/mainPage/background1.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: content-box;
}

.dongle {
	font-family: 'Dongle';
}

.inter {
	font-family: 'Inter';
}

.text-shadow {
	text-shadow: 4px 4px 4px #d4d4d4;
}

.typewriter {
	font-family: 'inter';
	font-size: 16px;
	font-weight: bold;
	border-right: 2px solid #858585;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(40) forwards;
	animation: typingSignal 850ms infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes typingSignal {
	from {
		border-right: 2px solid #858585;
	}
	to {
		border-right: none;
	}
}

.animationWelcome {
	animation: welcome 2s ease;
}

@keyframes welcome {
	from {
		opacity: 0;
		transform: translateX(-150px);
	}
	to {
		opacity: 1;
	}
}
.animationWelcome2 {
	animation: welcome2 2s ease;
}

@keyframes welcome2 {
	from {
		opacity: 0;
		transform: translateX(250px);
	}
	to {
		opacity: 1;
	}
}

.facebook {
	background-image: url('../public/images/logos/facebook.png');
	background-position: center;
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: cover;
}

.google {
	background-image: url('../public/images/logos/google.png');
	background-position: center;
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: cover;
}
.apple {
	background-image: url('../public/images/logos/apple.png');
	background-position: center;
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: cover;
}

.closeTag {
	background-image: url('../public/images/logos/x.png');
	background-position: center;
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: cover;
}

canvas {
	height: 650px;
	width: 850px;
	animation: initialModel 4s ease;
}

@keyframes initialModel {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 940px) {
	canvas {
		height: 450px !important;
		width: 650px !important;
	}
}
